* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red !important;  */
}

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  height: 100%;
  margin: 0px;
  background-color: #eaeaea;
}

.search-container {
  background-color: #f7f7f7;
  flex: 1;
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 0px;
  flex: 1;
  font-size: 18px;
  background: transparent;
  color: #4A5056;
}

.search-container svg {
  stroke: #4A5056;
}

.search-container input[type="text"]::placeholder {
  color: #DFE2E6;
}

.compose-container input[type="text"] {
  padding: 10px;
  border: 0px;
  flex: 1;
}

.compose-container input[type="text"]::placeholder {
  color: #DFE2E6;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.panel {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EBEDEF;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
}

.hero {
  width: 100%;
  height: 200px;
  display: inline-block;
  border-radius: 5px;
  background-color: #DFE2E6;
  background-size: cover;
  background-position: bottom;
}
